{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
        <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <a href="{{ path('app_home') }}" class="btn_retour">Retour</a>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{{ asset('images/img-01.webp') }}" alt="IMG">
                </div>
                {{ form_start(registrationForm, { 'attr': {'class': 'login100-form validate-form'} }) }}
                    <span class="login100-form-title">
                        Inscription
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        {{ form_row(registrationForm.email, { 'attr': {'class': 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        {{ form_row(registrationForm.plainPassword, {label:"Mot de passe", 'attr': {'class': 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        {{ form_row(registrationForm.firstname, { label: 'Nom', 'attr': {'class': 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        {{ form_row(registrationForm.lastname, { label: 'Prenom', 'attr': {'class': 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        {{ form_row(registrationForm.roles, { label: 'Statut', 'attr': {'class': 'input100'} }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        {{ form_row(registrationForm.agreeTerms, { label: 'Accepter les conditions' }) }}
                        <span class="focus-input100"></span>
                    </div>
                    <div>
                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            S'Inscrire
                        </button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
